{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ASM</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="menu">
        <ul>
            <li><a href="#" id="home_page" ><img src="URL" alt="Home Page"></a></li>
            <li><a href="#" id="project_page"><img src="URL" alt="Project"></a></li>
            <li><a href="#" id="contact_page"><img src="URL" alt="Contact"></a></li>
        </ul>
    </div>

    <div class="content">
        <div> AREA </div>
    </div>
    <div class="footer"><font color="red"> FOOTER </font></div>
</div>
</body>
</html>
