{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ASM</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="top-bar">
        <div class="top-left">
            <ul>
                <li id="mm"><a href="#" id="home_page" ></a></li>
                <li id="mm"><a href="#" id="project_page"></a></li>
                <li id="mm"><a href="#" id="contact_page"></a></li>
            </ul>
        </div>
        <div class="top-right">
            <a href="https://github.com/aske312"><img class="img_cnt" src="{% static 'img/cnt/git-contact.png'%}" alt="GIT: aske312"></a>
            <a href="https://t.me/aske312"><img class="img_cnt" src="{% static 'img/cnt/tg-contact.png'%}" alt="TG: @aske312"></a>
            <a href="mailto:aske312@yandex.ru"><img class="img_cnt" src="{% static 'img/cnt/eml-contact.png'%}" alt="EML: aske312@yandex.ru"></a>
            <a href="https://vk.com/aske312"><img class="img_cnt" src="{% static 'img/cnt/vk-contact.png'%}" alt="VK: vk.com/aske312"></a>
        </div>
    </div>

    <div class="content-bar">
        <div class="content">content</div>
        <div class="navigation">
<!--            <ul>-->
<!--                <li>Page_1</li>-->
<!--                <li>Page_2</li>-->
<!--                <li>Page_3</li>-->
<!--                <li>Page_4</li>-->
<!--            </ul>-->
        </div>
    </div>

    <div class="footer">
        <p>Create by: @aske312</p>
    </div>
</div>
</body>
</html>
