* {
    margin: 0;
    padding: auto;
}

/* HTML Start */
html{
    background-image: url(../img/no_front.png);
}
html,
body {
    height: 100%;
}

/* Body Content Start */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-bar{
    padding: 1px;
    display: block;
    /* background: #999999; */
    flex: 1 0 auto;
}
.content{
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
}
.navigation{
    /* background: #4CFAED; */
    margin-top: 10px;
    width: 20%;
    float: right;
}

/* Top-bar Start */
.top-bar {
    height: 55px;
    /* background: #055000; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: block;
    padding: 5px;
}
.top-left {
    /* background: #47B240; */
    float: left;
    width: 50%;
    margin: 0;
}
.top-right {
    /* background: #CF4B40; */
    padding-top: 1%;
    width: 50%;
    float: right;
}
.top-left, ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#mm {
    float: left;
}
.top-bar, ul, a {
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 25px;
    padding-left: 35px;
    display: block;
    line-height: 25px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #371C1C;
}
.img_cnt {
    background-size: 100%;
    width: 35px;
    padding-left: 15px;
    height: 35px;
    float: right;
}
#home_page {
    background: url(../img/mm/HP.png);
    display: block;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
#home_page:hover {
    background: url(../img/mm/HP-r.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#project_page {
    background: url(../img/mm/PP.png);
    display: block;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
#project_page:hover {
    background: url(../img/mm/PP-r.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#contact_page {
    background: url(../img/mm/CP.png);
    display: block;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
#contact_page:hover {
    background: url(../img/mm/CP-r.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

/* Footer Start */
.footer {
    background: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    flex: 0 0 auto;
    text-align: right;
    list-style-type: none;
}
.footer, p {
    color: #FFFFFF;
}
