* {
    margin: 0;
    padding: auto;
}

/* HTML Start */
html{
    /* background-image: url(../img/no_front.png); */
}
html,
body {
    height: 100%;
}

/* Body Content Start */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    padding: 10px;
    background: #999999;
    flex: 1 0 auto;
}

/* MMenu Start */
.menu {
    height: 6%;
    /* background: #055000; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu,
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu,
li {
    float: left;
}
.menu, ul,
a {
    /* background-image: url(navi_bg_divider.png); */
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 25px;
    padding-left: 35px;
    display: block;
    line-height: 25px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #371C1C;
}
#home_page {
    background: url(../img/HP.png);
    display: block;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
#home_page:hover {
    background: url(../img/HP-r.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#project_page {
    background: url(../img/HP.png);
    display: block;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
#project_page:hover {
    background: url(../img/HP-r.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#contact_page {
    background: url(../img/HP.png);
    display: block;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100px;
    height: 50px;
}
#contact_page:hover {
    background: url(../img/HP-r.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

/* Footer Start */
.footer {
    flex: 0 0 auto;
    text-align: center;
    list-style-type: none;
}
.img_cnt {
    background-size: 100%;
    width: 25px;
    height: 25px;
}